---
---

@import 'main';

/* 게시물 글씨크기 */
.content {
  font-size: 0.98rem;
  /*word-break: keep-all;*/ /* 단어기준 줄넘김인데, 안 예뻐서 보류. */
}

p {
  margin-top: 1.5rem;
}

/* 메모장
- 사이드바 배경색은 sass/colors/typography-dark.scss에서 따로 수정함.
*/